---
import About from "../components/About.astro";
import BaseHead from "../components/BaseHead.astro";
import Contact from "../components/Contact.astro";
import Experience from "../components/Experience.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import Hero from "../components/Hero.astro";
import Projects from "../components/Projects.astro";
import Skills from "../components/Skills.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header title={SITE_TITLE} />
		<main>
			<Hero />
			<About />
			<Skills />
			<Experience />
			<Projects />
			<Contact />
		</main>
		<Footer />
	</body>
</html>
