<section class="about" id="about">
	<!-- Show heading on top if on mobile, else show heading sideway -->
	<h2 class="mobile-heading">About Me</h2>
	<div class="avatar">
		<img src="/headshot.png" alt="Bao Huynh in a suit, only head portion visible" />
	</div>
	<div class="content-wrapper">
		<h2 class="desktop-heading">About Me</h2>
		<p class="info">
			I am a passionate Computer Science student and an enthusiastic software developer who love
			learning new technologies. <br />I have completed 3 internship experiences and enjoy working
			on personal projects and leadership activities in my free time.
		</p>
		<div class="education">
			<h3>Education</h3>
			<p><strong>B.S in Computer Science</strong> - University of Cincinnati, Cincinnati, OH</p>
			<ul>
				<li>Class of 2024 - Honors Program</li>
				<li>President of ACM@UC</li>
				<li>
					Web lead and Co-director of <a href="https://revolutionuc.com">RevUC</a> hackathon
				</li>
			</ul>
		</div>
		<!-- <a href="/resume.pdf" class="download-resume"
			><span class="on-normal">Download resume</span>
			<span class="on-hover"
				>Resume <img src="/icons/arrow-right.svg" alt="Arrow icon" class="arrow" /></span
			>
		</a> -->
		<a href="/BaoHuynh_resume_2023.pdf" class="resume-button" target="_blank"
			><span class="download-text">Download resume</span>
			<i class="fa fa-arrow-right arrow" aria-hidden="true" /></a
		>
	</div>
</section>

<style lang="scss">
	.desktop-heading {
		display: none;
	}

	.about {
		display: grid;
		grid-template-columns: 1fr;
		gap: 1.5em;
		background-color: #f8f8f8;
		h2 {
			margin-bottom: 0;
		}
	}

	.avatar img {
		max-height: 500px;
		border-radius: 10px;
		margin: 0;
	}

	.content-wrapper {
		display: flex;
		flex-direction: column;
		gap: 1em;
		text-align: left;
	}

	.education {
		h3 {
			text-align: center;
			margin-bottom: 0.25em;
		}
		ul {
			list-style-type: disc;
			margin-top: 0.5em;
			margin-left: 1em;
		}
	}

	.resume-button {
		width: 22ch;
		padding: 1em;
		text-align: center;
		background-color: #0f0f0f;
		color: #f5f5f5;
		border-radius: 5px;
		align-self: center;
		position: relative;

		.download-text {
			transform: translateX(0);
			transition: transform 300ms;
			display: inline-block;
		}

		.arrow {
			position: absolute;
			top: 50%;
			opacity: 0;
			transform: translate(0%, -50%);
			transition: transform 300ms, opacity 300ms;
		}

		&:hover {
			.download-text {
				transform: translateX(-8%);
				text-decoration: underline;
			}
			.arrow {
				opacity: 1;
				transform: translate(1%, -50%);
			}
		}
	}

	@media screen and (min-width: 30em) {
		.desktop-heading {
			display: inline;
		}

		.mobile-heading {
			display: none;
		}

		.about {
			grid-template-columns: minmax(auto, 40%) 1fr;
			gap: 5em;
			h2,
			h3 {
				text-align: left;
			}
		}

		.resume-button {
			align-self: flex-start;
		}
	}
</style>
