---
type Props = {
	summary: string;
};

const { summary } = Astro.props;
---

<details class="group w-full">
	<summary class="group-[open]:underline">{summary}</summary>
	<div class="rounded-sm bg-slate-200 p-4">
		<slot />
		<!-- Body of details -->
	</div>
</details>
