<footer class="footer bg-[#f8f8f8] p-2 text-center text-lg">
	<nav class="nav mt-4 flex justify-center">
		<ul class="links flex gap-4">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="#about">About</a>
			</li>
			<li>
				<a href="#projects">Projects</a>
			</li>
			<li>
				<a href="#contact">Contact</a>
			</li>
		</ul>
	</nav>
	<div class="socials flex items-center justify-center gap-[1em]">
		<ul class="mb-7 mt-8 flex gap-10 text-4xl">
			<li>
				<a href="https://github.com/bhuynhdev" target="_blank" rel="noopener noreferrer" class="hover:color-[#28afb0]">
					<i class="fa-brands fa-github" aria-label="Github"></i>
				</a>
			</li>
			<li>
				<a href="https://linkedin.com/in/bhuynhuc" target="_blank" rel="noopener noreferrer" class="hover:color-[#28afb0]">
					<i class="fa-brands fa-linkedin" aria-label="LinkedIn"></i>
				</a>
			</li>
			<li>
				<a href="https://twitter.com/bhuynhtweet" target="_blank" rel="noopener noreferrer" class="hover:color-[#28afb0]">
					<i class="fa-brands fa-twitter" aria-label="Twitter"></i>
				</a>
			</li>
			<li>
				<a href="https://instagram.com/unflinch_camel" target="_blank" rel="noopener noreferrer" class="hover:color-[#28afb0]">
					<i class="fa-brands fa-instagram" aria-label="Instagram"></i>
				</a>
			</li>
		</ul>
	</div>
	<p>&copy; {new Date().getFullYear()} Bao Huynh</p>
</footer>
