---
const today = new Date();
---

<footer class="footer">
	<nav class="nav">
		<ul class="links">
			<li>
				<a href="/">Home</a>
			</li>
			<li>
				<a href="#about">About</a>
			</li>
			<li>
				<a href="#projects">Projects</a>
			</li>
			<li>
				<a href="#contact">Contact</a>
			</li>
		</ul>
	</nav>
	<div class="socials">
		<ul>
			<li>
				<a href="https://github.com/bhuynhdev" target="_blank" rel="noopener noreferrer">
					<i class="fa-brands fa-github" aria-label="Github" />
				</a>
			</li>
			<li>
				<a href="https://linkedin.com/in/bhuynhuc" target="_blank" rel="noopener noreferrer">
					<i class="fa-brands fa-linkedin" aria-label="LinkedIn" />
				</a>
			</li>
			<li>
				<a href="https://twitter.com/bhuynhtweet" target="_blank" rel="noopener noreferrer">
					<i class="fa-brands fa-twitter" aria-label="Twitter" />
				</a>
			</li>
			<li>
				<a href="https://instagram.com/unflinch_camel" target="_blank" rel="noopener noreferrer">
					<i class="fa-brands fa-instagram" aria-label="Instagram" />
				</a>
			</li>
		</ul>
	</div>
	<p>&copy; {today.getFullYear()} Bao Huynh</p>
</footer>

<style lang="scss">
	.footer {
		background-color: #f8f8f8;
		text-align: center;
		padding: 0.5rem;
		font-size: 1.1rem;
	}

	.nav {
		display: flex;
		justify-content: center;
	}

	.links {
		display: flex;
		gap: 1em;

		li a:hover {
			color: #28afb0;
		}
	}

	.socials {
		display: flex;
		justify-content: center;
		align-items: center;
		ul {
			display: flex;
			font-size: 2em;
			gap: 1em;
			margin: 0.25em 0 0.5em 0;
		}
	}
</style>
