<header
	class="page-header fixed left-0 top-0 z-50 flex w-full justify-between px-space-x py-3 text-xl text-gray-950 lg:py-[1.35vw]"
>
	<a href="/">BHUYNH.DEV</a>
	<label for="nav-toggle" class="burger flex cursor-pointer items-center lg:hidden">
		<span></span>
	</label>
	<input type="checkbox" id="nav-toggle" class="peer/toggle hidden" />
	<nav
		class="group absolute right-0 top-full w-full origin-top scale-y-0 bg-white pr-space-x shadow-md transition-transform duration-350 peer-checked/toggle:scale-y-100 md:bg-transparent md:shadow-none lg:[all:unset]"
	>
		<ul
			class="flex list-none flex-col gap-2 pb-2.5 text-right font-semibold tracking-wide opacity-0 transition-opacity peer-checked/toggle:group-[]:opacity-100 lg:flex-row lg:justify-end lg:gap-[2vw] lg:p-0 lg:opacity-100"
		>
			<li class="nav-item">
				<a href="/#about">About</a>
			</li>
			<li class="nav-item">
				<a href="/#experience">Experiences</a>
			</li>
			<li class="nav-item">
				<a href="/#projects">Projects</a>
			</li>
			<li class="nav-item">
				<a href="/#contact">Contact</a>
			</li>
		</ul>
	</nav>
</header>

<script>
	document.onscroll = () => {
		const headerElem = document.querySelector(".page-header");
		if (document.documentElement.scrollTop >= 50) {
			headerElem?.classList.add("header-scrolled");
		} else {
			headerElem?.classList.remove("header-scrolled");
		}
	};
</script>

<!-- STYLE -->
<style lang="scss">
	.header-scrolled {
		background-color: #f9f9f9;
		box-shadow: 0px 1.5px 8px rgba(#111, 0.15);
	}

	.burger {
		// Create the tripple-bar burger
		span,
		span::before,
		span::after {
			display: block;
			background: #000;
			height: 2.4px;
			width: 1.75em;
			border-radius: 1px;
			position: relative;
		}

		span::before {
			content: "";
			position: absolute;
			bottom: 8px;
		}

		span::after {
			content: "";
			position: absolute;
			top: 8px;
		}
	}

	@media screen and (min-width: 64em) {
		@media (hover) {
			// Add an animated underline on nav item hover
			.nav-item {
				position: relative;
				&::before {
					content: "";
					width: 50%;
					height: 2.5px;
					background-color: #0f0f0f;
					position: absolute;
					bottom: -3px;
					left: 50%;
					transform: translateX(-50%) scaleX(0%);
					border-radius: 5px;
					transition: transform 300ms ease;
				}
				&:hover::before {
					transform: translateX(-50%) scaleX(100%);
				}
			}
		}
	}
</style>
